.main-nav {
  min-height: 25px;
  padding: 0 15px;

  &--top {
    background: #545265;
    border-top: 3px double #33323A;
    border-bottom: 3px double #33323A;

    & .main-nav__link:first-letter {
      color: #838094;
    }
  }

  &--bottom {
    background-image: linear-gradient(to top, #000000, #23222A);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .reset-list();

    @media @desktop-widths {
      .dots();
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  &__item {
    font-size: 14px;
    margin-left: -1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    border-left: 1px solid #33323A;
    border-right: 1px solid #33323A;

    @media @desktop-widths {
      border: none;
      padding-left: 0;
      padding-right: 20px;
    }

    &::after {
      @media @desktop-widths {
        content: "";
        width: 3px;
        height: 3px;
        background-color: #838094;
        position: absolute;
        top: 12px;
        left: -12px;
      }
    }

    &:first-child::after {
      display: none;
    }

    &--clone {
      display: none;

      @media @desktop-widths {
        display: block;
      }
    }
  }

  &__link {
    display: block;
    line-height: 20px;
    text-decoration: none;
    color: #33323A;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: default;

    &:active {
      color: #838094;
    }

    @media @desktop-widths {
      cursor: pointer;

      &:hover {
        color: #838094;
      }
    }

    &--active {
      display: block;
      line-height: 20px;
      text-decoration: none;
      color: #838094;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
}
