html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  .reset-spaces();
}

body {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #52454A;

  @media @desktop-widths {
    background: #000000 url("../img/bg-body.jpg") no-repeat fixed top;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  .reset-spaces();
  margin-bottom: 10px;
}
